--Function B

/*
Telling the system the database to use for this query
*/
USE [Restaurant]
GO

/*
Creating the function

Will return the details and names of each kitchen in the system
*/

CREATE FUNCTION fnKitchenDetails ()

RETURNS table

AS

RETURN
	SELECT DISTINCT LocationName, ki.*
	FROM Demographic d
		JOIN KitchenDetails ki
			ON d.LocationID = ki.LocationID
	